body{
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

div#toggleSwitch{
  width: 100px;
  height: 40px;
  margin: 100px auto;
  border-radius: 22px;
  background: #ccc;
  position: relative;
  cursor: pointer;
  transition: all .5s ease;
  border: solid 2px white;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}

div#toggleSwitch > span{
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: all .2s ease;
  font: bold 8px/38px Arial;
  text-align: center;
  color: #bbb;
}
